
body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.wick {
  stroke: white;
  stroke-width: 5;
}

.bear-candle {
  fill: red;
  stroke: white;
  stroke-width: 2;
  fill-opacity: 1;
}

.bull-candle {
  fill: green;
  stroke: white;
  stroke-width: 2;
  fill-opacity: 1;
}

.price-text {
  stroke: white;
  stroke-width: 1;
}

.date-text {
  stroke: white;
  writing-mode: tb;
  stroke-width: 1;
}

.axis {
  stroke: white;
  stroke-width: 2;
}


