
body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.date-text {
  stroke: white;
  writing-mode: tb;
  stroke-width: 1;
}

.axis {
  stroke: white;
  stroke-width: 2;
}


