
body {
  background-color: #282c34;
  color: white;
  font-family: Arial;
}

.application {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [header] 70px [body] auto;
  justify-items: center;
}

h1 {
  grid-row: header;
}

.result {
  grid-row: body;
  display: grid;
  grid-template-columns: [left] 200px [rest] auto;
  grid-template-rows: [top] 45px [padding] 40px [center] 60px [bottom] auto;
  justify-items: center;
}

.company-searcher {
  grid-row: top;
  grid-column: left / span 2;
  border: 2px;
  border-color: white;
  border-style: solid;
}

.name-label {
 margin: 10px;
}

.name-input {
  margin: 10px;
  width: 300px;
}

.company-name {
  grid-column: rest;
  grid-row: center;
}

.symbol {
  grid-column: left;
  grid-row: center;
}

.message {
  grid-row: center;
  grid-column: left / span 2;
}

svg {
  grid-column: left / span 2;
  grid-row: bottom;
}

.wick {
  stroke: white;
  stroke-width: 5;
}

.bear-candle {
  fill: red;
  stroke: white;
  stroke-width: 2;
}

.bull-candle {
  fill: green;
  stroke: white;
  stroke-width: 2;
}

.price-text {
  stroke: white;
  stroke-width: 1;
}

.date-text {
  stroke: white;
  writing-mode: tb;
  stroke-width: 1;
}

.axis {
  stroke: white;
  stroke-width: 2;
}


